#YearList {
    padding: 0;
    margin: 5px;
    padding-top: 50px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
}

#YearList > li {
    display: inline-block;
    padding: 20px;
}

.HistoryEvent {
    color: gray;
    position: absolute;
    top: -5px;
    left: 0;
    cursor: pointer;
}

.HistoryEvent:hover {
    transform: scale(1.2);
}

.EventDescription {
    display: none;
}

.ActiveDescription {
    display: block;
}

.EventSelected {
    color: red;
}
